In [2]:
%run get_cluster_details.py

Printing Cluster related properties
                    Param               Value
0        DWH_CLUSTER_TYPE          multi-node
1           DWH_NUM_NODES                   2
2           DWH_NODE_TYPE           dc2.large
3  DWH_CLUSTER_IDENTIFIER  redshift-cluster-1
4                  DWH_DB                 dev
5             DWH_DB_USER                 dev
6         DWH_DB_PASSWORD            Passw0rd
7                DWH_PORT                5439
8        DWH_IAM_ROLENAME      myRedshiftRole
DWH_ENDPOINT ::  redshift-cluster-1.c4fow9r7dzf9.us-west-2.redshift.amazonaws.com
Successfully updated DWH Endpoint in dwh.cfg file
Connected

In [3]:
%run create_tables.py

dropping the table with query: DROP TABLE IF EXISTS staging_events;
dropping the table with query: DROP TABLE IF EXISTS staging_songs;
dropping the table with query: DROP TABLE IF EXISTS songplays;
dropping the table with query: DROP TABLE IF EXISTS users;
dropping the table with query: DROP TABLE IF EXISTS songs;
dropping the table with query: DROP TABLE IF EXISTS artists;
dropping the table with query: DROP TABLE IF EXISTS time;
creating the table with query:
      CREATE TABLE staging_events(
        artist              VARCHAR,
        auth                VARCHAR,
        firstName           VARCHAR,
        gender              VARCHAR,
        itemInSession       INTEGER,
        lastName            VARCHAR,
        length              FLOAT,
        level               VARCHAR,
        location            VARCHAR,
        method              VARCHAR,
        page                VARCHAR,
        registration        FLOAT,
        sessionId           INTEGER,
        song                VARCHAR,
        status              INTEGER,
        ts                  TIMESTAMP,
        userAgent           VARCHAR,
        userId              INTEGER
    )

creating the table with query:
     CREATE TABLE staging_songs(
        num_songs           INTEGER,
        artist_id           VARCHAR,
        artist_latitude     FLOAT,
        artist_longitude    FLOAT,
        artist_location     VARCHAR,
        artist_name         VARCHAR,
        song_id             VARCHAR,
        title               VARCHAR,
        duration            FLOAT,
        year                INTEGER
    )

creating the table with query:
    CREATE TABLE songplays(
        songplay_id         INTEGER         IDENTITY(0,1)   PRIMARY KEY,
        start_time          TIMESTAMP       NOT NULL SORTKEY DISTKEY,
        user_id             INTEGER         NOT NULL,
        level               VARCHAR,
        song_id             VARCHAR         NOT NULL,
        artist_id           VARCHAR         NOT NULL,
        session_id          INTEGER,
        location            VARCHAR,
        user_agent          VARCHAR
    )

creating the table with query:
     CREATE TABLE users(
        user_id             INTEGER         NOT NULL SORTKEY PRIMARY KEY,
        first_name          VARCHAR         NOT NULL,
        last_name           VARCHAR         NOT NULL,
        gender              VARCHAR         NOT NULL,
        level               VARCHAR         NOT NULL
    )

creating the table with query:
    CREATE TABLE songs(
        song_id             VARCHAR         NOT NULL SORTKEY PRIMARY KEY,
        title               VARCHAR         NOT NULL,
        artist_id           VARCHAR         NOT NULL,
        year                INTEGER         NOT NULL,
        duration            FLOAT
    )

creating the table with query:
    CREATE TABLE artists(
        artist_id           VARCHAR         NOT NULL SORTKEY PRIMARY KEY,
        name                VARCHAR         NOT NULL,
        location            VARCHAR,
        latitude            FLOAT,
        longitude           FLOAT
    )

creating the table with query:
    CREATE TABLE time(
        start_time          TIMESTAMP       NOT NULL DISTKEY SORTKEY PRIMARY KEY,
        hour                INTEGER         NOT NULL,
        day                 INTEGER         NOT NULL,
        week                INTEGER         NOT NULL,
        month               INTEGER         NOT NULL,
        year                INTEGER         NOT NULL,
        weekday             VARCHAR(20)     NOT NULL
    )

In [4]:
%run etl.py

staging the data:
    copy staging_events from 's3://udacity-dend/log_data'
    credentials 'aws_iam_role=arn:aws:iam::225210597203:role/myRedshiftRole'
    region 'us-west-2' format as JSON 's3://udacity-dend/log_json_path.json'
    timeformat as 'epochmillisecs';

staging the data:
    copy staging_songs from 's3://udacity-dend/song_data'
    credentials 'aws_iam_role=arn:aws:iam::225210597203:role/myRedshiftRole'
    region 'us-west-2' format as JSON 'auto';

inserting in table
    INSERT INTO users (user_id, first_name, last_name, gender, level)
    SELECT  DISTINCT(userId),
            firstName,
            lastName,
            gender,
            level
    FROM staging_events
    WHERE userId IS NOT NULL
    AND page  =  'NextSong';

inserting in table
    INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
    SELECT  DISTINCT(e.ts),
            e.userId,
            e.level,
            s.song_id,
            s.artist_id,
            e.sessionId,
            e.location,
            e.userAgent
    FROM staging_events e
    JOIN staging_songs  s   ON (e.song = s.title AND e.artist = s.artist_name)
    AND e.page  =  'NextSong'

inserting in table
    INSERT INTO songs (song_id, title, artist_id, year, duration)
    SELECT  DISTINCT(song_id),
            title,
            artist_id,
            year,
            duration
    FROM staging_songs
    WHERE song_id IS NOT NULL;

inserting in table
    INSERT INTO artists (artist_id, name, location, latitude, longitude)
    SELECT  DISTINCT(artist_id),
            artist_name,
            artist_location,
            artist_latitude,
            artist_longitude
    FROM staging_songs
    WHERE artist_id IS NOT NULL;

inserting in table
    INSERT INTO time (start_time, hour, day, week, month, year, weekday)
    SELECT  DISTINCT(start_time),
            EXTRACT(hour FROM start_time),
            EXTRACT(day FROM start_time),
            EXTRACT(week FROM start_time),
            EXTRACT(month FROM start_time),
            EXTRACT(year FROM start_time),
            EXTRACT(dayofweek FROM start_time)
    FROM songplays;

In [11]:
%run test.py

    SELECT COUNT(*) FROM staging_events
 retuns 8056 records

    SELECT COUNT(*) FROM staging_songs
 retuns 14896 records

    SELECT COUNT(*) FROM songplays
 retuns 333 records

    SELECT COUNT(*) FROM users
 retuns 104 records

    SELECT COUNT(*) FROM songs
 retuns 14896 records

    SELECT COUNT(*) FROM artists
 retuns 10025 records

    SELECT COUNT(*) FROM time
 retuns 333 records